@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

body {
    font-family: 'Orbit';
    font-weight: 500;
    background-color: #f9f0f0;
}

p{
    font-size: 25px;
    text-align: center;
    width: 800px;
    margin-top: 100px;
    margin-left: 50px;
}
.btn-clr{
    color: #624234;
    border-color: #624234;
}
.btn-clr:hover{
    color: #fff;
    border-color: #624234;
    background-color: #624234;
}

.big-brown{
    filter: brightness(40%);
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.contact-div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
  
  .left {
    width: auto;
  }
  
  
  .middle {
    width: auto;
  }

  .right {
    width: auto;
    color: #204620;
  }

.myForm {
    width: 300px;
}

.big-brown-title {
    font-family: 'Luckiest Guy';
    font-size: 66px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
}

.small-brown-sub {
    font-size: 40px;
    color: #dccdbc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -360%);
}

.sm-cream{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 100px;
    border-radius: 100%;
}

.sm-cream-div {
    float: right;
}

.sm-cream-2{
    width: 350px;
    height: 350px;
    margin-top: 10%;
    margin-left: 3%;
    border-radius: 100%;
}

.p-2 {
    width: 1000px;
    top: 0%;
    left: 0%;
    margin-top: -360px;
    transform: translate(60%, 50%);
    float: left;
}

.logo {
    width: 50px;
    height: 50px;
    filter: opacity(65%);
}

.searchbar {
    width: 300px;
}

.sm-brown{
    filter: brightness(40%);
}

.img-div {
    width: auto;
    height: 300px;
}

.sm-brown-sub {
    text-align: center;
    width: auto;
    font-size: 60px;
    font-family: 'Luckiest Guy';
    color: #dccdbc;
    top: 50%;
    left: 50%;
    transform: translate(0%, -163px);
}

.footer {
    background-color: #0f1421bf;
    color:#dccdbc;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }