/*
    FONTS
    --->> Orbit (the one imported below) for every paragraph or text that exists
    --->> Luckiest Guy (imported) for the titles on the images and other titles
*/

@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body { /* the entire page */
    font-family: 'Orbit';
    font-size: 16px;
    background-color: #f9f0f0;
}

p{  /* all the text that is not H. This is later edited by other classes, as well. */
    font-size: 17px;
    text-align: center;
    width: 800px;
    margin-top: 100px;
    margin-left: 50px;
}

#navbar {  /* the navigation bar */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.logo {  /* the logo in the navbar */
    width: 50px;
    height: 50px;
    filter: opacity(65%);
}

.searchbar {  /* the search bar in the navbar */
    width: 300px;
}

.btn-clr{  /* button color. for the search button in the navbar */
    color: #624234;
    border-color: #624234;
}

.btn-clr:hover{  /* button color. for the search button in the navbar */
    color: #fff;
    border-color: #624234;
    background-color: #624234;
}

.big-brown{  /* the big image at the start of the page */
    filter: brightness(40%);
}

.big-brown-title {  /* the big title on top of the image */
    font-family: 'Luckiest Guy';
    font-size: 66px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
}

.small-brown-sub {  /* the smaller title below the big-brown-title */
    font-size: 40px;
    color: #dccdbc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -360%);
}

.sm-brown-sub {  /* the title on top of the image on the contact page */
    text-align: center;
    width: auto;
    font-size: 60px;
    font-family: 'Luckiest Guy';
    color: #dccdbc;
    top: 50%;
    left: 50%;
    transform: translate(0%, -163px);
}

.sm-cream{  /* the small round image on the home page */
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 100px;
    border-radius: 100%;
}

.sm-cream-div {  /* the div with the round image on the home page */
    float: right;
}

.sm-cream-2{  /* the second small round image on the home page */
    width: 350px;
    height: 350px;
    margin-top: 10%;
    margin-left: 3%;
    border-radius: 100%;
}

.container {  /* the container with the big title on the home page that says 'portfolio' */
    position: relative;
    text-align: center;
    color: white;
}

.contact-div {  /* the contact page grid */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
  
  .left {  /* the form on the contact page */
    width: auto;
    padding-right: 30px;
    margin-right: 5px;
  }
  
  .middle {  /* the map on the contact page */
    width: auto;
    margin: 5px;
  }

  .right {  /* the contact info on the contact page */
    width: 500px;
    color: #204620;
    padding-left: 30px;
    margin-left: 5px;
    letter-spacing: 2px;
  }

.rectangle {
    width: 200px;
    height: 100px;
    background-color: gray;
    border: 1px solid black;
 } 
  
.myForm {  /* the form on the contact page (how it is styled, not how it is shown in the grid) */
    width: 300px;
}

.p-2 {  /* the second paragraph on the home page (the one with something about me) */
    width: 1000px;
    top: 0%;
    left: 0%;
    margin-top: -360px;
    transform: translate(60%, 50%);
    float: left;
}

.sm-brown{  /* the header image on the contact page */
    filter: brightness(40%);
}

.img-div {  /* the div around the header image on the contact page */
    width: auto;
    height: 300px;
}


.footer {  /* the footer class that works with the footer on all pages */
    background-color: #0f1421bf;
    color:#dccdbc;
    width: fullscreen;
}

@media screen and (max-width: 600px) {  
    /* media tag which works with the grid on the contact page to make it responsive */
    .column {
      width: 100%;
    }
  }